@use 'colors' as c;
@use 'breakpoints' as b;

* {
  box-sizing: border-box;
  margin: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    text-decoration: underline;
  }
}

.button {
  border: 0.2rem solid #004400;
  color: c.$dark-green;
  border-radius: 0.44rem;
  padding: 0.6rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  &--previous {
    margin-right: 2rem;
  }
  &:hover {
    text-decoration: none;
    background-color: c.$dark-green;
    color: c.$light-green;
  }
  @include b.mq(sm) {
    &--github {
      display: none;
    }
  }
}

.header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: c.$light-green;
  padding: 0.5rem 1rem;
  align-items: center;
  &__logo {
    color: #002200;
  }
  &__search {
    width: 50rem;
    height: 100%;
    border-radius: 0.4rem;
    border: none;
    background: c.$dark-green;
    color: c.$light-green;
    font-size: 1.6rem;
    line-height: 1.4;
    padding-left: 0.5rem;
  }
  &__form {
    height: calc(100% - 1rem);
  }
  @include b.mq(sm) {
    flex-direction: column;
    height: auto;
    padding-bottom: 1rem;
    &__logo {
      display: inline-block;
      margin-bottom: 1rem;
    }
    &__form,
    &__search {
      width: 100%;
    }
  }
}

.container {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 8rem 2rem 4rem;
}

.result-count {
  color: c.$dark-grey;
  text-align: center;
  margin-bottom: 1.5rem;
}

.search-results {
  list-style: none;
}

.news-article {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
  border: 0.1rem solid c.$light-grey;
  padding: 1.5rem;
  border-radius: 0.4rem;
  justify-content: space-between;
}

.article-image {
  width: 20rem;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 2rem;
  @include b.mq(sm) {
    display: none;
  }
}

.title {
  margin-bottom: 1.5rem;
  @include b.mq(sm) {
    font-size: 1.8rem;
  }
}

.description {
  color: c.$dark-grey;
  margin-bottom: 1.5rem;
  @include b.mq(sm) {
    font-size: 1.4rem;
  }
}

.metadata {
  display: flex;
  color: c.$dark-green;
  font-size: 1.4rem;
}

.published-date {
  &::before {
    content: '\0000a0\002022\0000a0';
    margin: 0 0.3rem;
  }
}

.pagination {
  margin-top: 2rem;
}
